<div class="content">
  <div class="container">
    <div class="main">
      <div class="intro">

        <div class="about">
          <div class="meetups__join">
            <a (click)="login()" *ngIf="!name" style="color: white">Anonymous Login</a>
          </div>
        </div>

        <form #heroForm="ngForm">
          <label for="date">Date of the class: </label> <br>
          <input type="date" name="date" id="date" required [(ngModel)]="date" />

          <p></p>

          <label for="name">Name of the class: </label> <br>
          <input type="text" name="name" id="name" required [(ngModel)]="class" />

          <p></p>

          <label for="link">Link to the class</label> <br>
          <input type="url" name="link" id="link" required [(ngModel)]="link" />

          <p></p>

          <button type="submit" (click)="onSubmit()">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
