<div class="content">
  <div class="container">
    <div class="main">
      <div class="intro">

        <h1 style="padding-left: 9em;">Community Sponsors</h1>


        <div style="margin: 0 auto; width: 100%; text-align: center;">
          <div>
            <a href="http://www.a2hosting.com" target="_blank"><img src="./../../assets/images/sponsors/a2hosting-official.png" alt="A2 Hosting" style="width: 70%"></a>
          </div>
          <div>
            <a href="http://www.arbornetworks.com" target="_blank"><img src="./../../assets/images/sponsors/ArborNetworks.png" alt="Arbor Networks" style="width: 55%"></a>
          </div>
          <div>
            <div style="width: 50%; float: left;">
              <a href="http://www.atomicobject.com" target="_blank"><img src="./../../assets/images/sponsors/AO-Logo-Emblem-Lg.png" alt="Atomic Object" style="height: 175px"></a>
            </div>
            <div style="width: 50%; padding-top: 20px; float: left;">
              <a href="http://detroitdevday.org/" target="_blank"><img src="./../../assets/images/sponsors/logovertical.png" alt="DETROITDEVDAY" style="height: 150px"></a>
            </div>
          </div>
          <div style="padding-top: 20px">
            <a href="http://www.human-element.com/" target="_blank"><img src="./../../assets/images/sponsors/HE_logo_new_cmyk.png" alt="Human Element" style="width: 90%"></a>
          </div>
          <div>
            <a href="http://pillartechnology.com/" target="_blank"><img src="./../../assets/images/sponsors/pillar-logo.png" alt="Pillar Technology" style="width: 45%"></a>
          </div>
          <h3>Interested in Sponsoring GDI Ann Arbor?</h3>
          <p><a target="_blank" href="mailto:annarbor@girldevelopit.com?subject=GDI Ann Arbor Sponsorship Inquiry" class="event__rsvp"
              style="float: none; display: inline-block; margin: 0;">Email Us!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>