<footer class="footer">
    <div class="container">
      <nav>
        <ul class="list--horz">
          <li><a href="http://www.meetup.com/Girl-Develop-It-Ann-Arbor/" title="Meetup" target="_blank"><i class="fa fa-calendar"></i></a></li>
          <li><a href="http://twitter.com/gdiannarbor" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://www.facebook.com/GirlDevelopItAnnArbor" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/groups?gid=6669157" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://gdiaa-slack.herokuapp.com/" target="_blank"><i class="fa fa-slack"></i></a></li>
        </ul>
      </nav>
    </div>
  </footer>

  <a href="https://plus.google.com/107523720184522630977" rel="publisher" style="display: none;">Google+</a>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="js/application.js"></script>
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-49702258-1');ga('send','pageview');
  </script>
  