<div class="content">
  <div class="container">
    <div class="main">
      <div class="intro">
        <h3><strong>Want to learn how to code? Have a great idea? Don't be shy.</strong> <em>Develop it.</em></h3>

        <p>At <a class="blue" href="http://girldevelopit.com" target="_blank">Girl Develop It</a>, our goal is to empower and
          assist women interested in getting into and advancing in the tech industry.</p>

        <p>Our courses focus on teaching modern develop best practices and having something to show for it (ie. a sweet website,
          a native mobile app, a browser based game, a network of industry experts, or even a stellar résumé).
        </p>

        <p>We've got a TON of awesome events lined up and a community that is ready to learn and grow! We hope to see you at
          a future event!</p>
      </div>

      <div class="meetups">
        <a class="meetups__join" href="http://www.meetup.com/Girl-Develop-It-Ann-Arbor/" target="_blank">Join Our Meetup Group &raquo;</a>
        <h2 class="events__header">Upcoming Events</h2>
        <div class="events">
          <p><em>Fetching events...</em></p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>